---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC18879e62fee933c5fe77d1ea150bdd41/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=1111111&From=5039463641
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMxODg3OWU2MmZlZTkzM2M1ZmU3N2QxZWExNTBiZGQ0MTo5YWU1ODdkMjBlZWEyN2ZmYjdjNjMyOWQ2MmFkZmVlZg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.104'
      Twilio-Request-Id:
      - RQb1f218763f7f4671ab99b926fb23b5df
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 5039463641 is not a
        valid phone number, shortcode, or alphanumeric sender ID.", "more_info": "https://www.twilio.com/docs/errors/21212",
        "status": 400}'
  recorded_at: Tue, 28 Feb 2017 18:26:59 GMT
recorded_with: VCR 3.0.3
